<div class="flex-container">
  <div class="main-pic">
    <img src="/assets/instagram-web-lox-image.png" alt="">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="font-icon"><img src="/assets/pngegg.png" alt=""></div>

    <div class="input-container">
      <div class="login-toggle">
        <label class="toggle-option" [class.active]="loginMethod === 'username'">
          <input type="radio" id="toggle-username" value="username" formControlName="loginMethod" >
          <span>帳號登入</span>
        </label>
        <label class="toggle-option" [class.active]="loginMethod === 'email'">
          <input type="radio" id="toggle-email" value="email" formControlName="loginMethod">
          <span>信箱登入</span>
        </label>
      </div>

      <div *ngIf="loginMethod ==='username'">
        <input placeholder="用戶名稱" type="text" formControlName="username" class="username-input" id="username">
      </div>
      <div *ngIf="loginMethod ==='email'">
        <input placeholder="信箱" type="text" formControlName="email" class="email-input" id="email">
      </div>
      <div>
        <input placeholder="密碼" type="password" formControlName="password" class="password-input" id="password">
      </div>
      <div *ngIf="hasErrors().hasFormError || hasErrors().hasFieldErrors" class="alert">
           <!-- 顯示表單級別的錯誤 -->
            <div *ngIf="hasErrors().hasFormError">
              <div *ngFor="let error of getErrors('form')">
                {{ error }}
              </div>
            </div>
            <!-- 顯示欄位級別的錯誤 -->
            <div *ngFor="let field of ['username', 'email', 'password']">
              <div *ngIf="hasErrors().hasFieldErrors">
                <div *ngFor="let error of getErrors(field)">
                  {{ error }}
                </div>
              </div>
            </div>
      </div>
      <!-- {{isSubmitDisabled}} -->
      <div><button type="submit" class="submit-btn" [disabled]="isSubmitDisabled" [class.inputCorrect]="isSubmitDisabled">登入</button></div>
    </div>
  </form>
</div>




