/* You can add global styles to this file, and also import other style files */
@import 'normalize.css/normalize.css';
@import 'assets/reset200802.css';

pre {
  background: #f6f8fa;
  padding: 0.7rem;
  border-radius: 6px;
  overflow-x: auto;
  max-width: 100%;
  font-size: 0.9rem;
}

pre code {
  display: block;
  overflow-x: auto;
  white-space: pre;
  word-break: break-word;
}
